<!DOCTYPE html>
<html lang="en">
<head>


</head>


<body>
    <!--CREATING THE INFO-->
    <h1>Employee directory</h1>
    <form action="/createUser" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="name" name="employeeId" />
        <button type="submit">Submit</button>
    </form>
    <!--UPDATING THE INFO-->
    <div>
        <p>Updating the info</p>
        <button id="update-button"></button>
    </div>
    <!--DELETING THE INFO-->
    <div>
        <p>Deleting the info</p>
        <button id="delete-button"></button>
    </div>


    <script src="/main.js"></script>
</body>


</html>

